
@{
    ViewBag.Title = "ViewCart";
}

<h2>ViewCart</h2>
@{
    int? previousPizzaId = null;
}
@if (TempData["ErrorIndirizzo"] != null)
{
    <div class="alert alert-danger">
        Devi inserire un indirizzo di spedizione
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("RemoveP", "User", FormMethod.Get))
            {
                foreach (var pizza in ViewBag.ListaPizze)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            @if (pizza.IdPizza != previousPizzaId)
                            {
                                <h5 class="card-title">@pizza.NomeArt</h5>
                                <p class="card-text">@pizza.PrezzoArt €</p>
                                if (!string.IsNullOrEmpty(pizza.NomeIng))
                                {
                                    <h6>Ingredienti</h6>
                                    <p>@pizza.NomeIng - @pizza.PrezzoIng</p>
                                }
                                <input type="hidden" name="IdPizza" value="@pizza.IdPizza" />
                                <button class="btn btn-danger">Rimuovi pizza</button>
                            }
                        </div>
                    </div>
                }
                <label>Totale: @ViewBag.totale</label>
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Confirm", "User", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="indirizzo" class="form-label">Inserisci Indirizzo:</label>
                    <input type="text" class="form-control" id="indirizzo" name="Indirizzo" />
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Note:</label>
                    <textarea class="form-control" id="note" name="Note" style="height: 150px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Conferma Carrello</button>
            }
        </div>
    </div>
</div>